.THIS #jsonContainer {
    position: relative;
    display: inline-block;
}

.THIS #copyButton {
    position: absolute; top: 0px; right: 0px; z-index: 5; padding: 3px; 
}

.THIS .slds-card__header
{
    display: none;
}

.THIS .slds-text-heading--medium
{
    font-size: 1.0rem!important;
}

.THIS table .slds-form-element__label {
    display : none;
    visibility : hidden;
}

.THIS a:visited {
    color: #BEBEBE;
}

.THIS a:link {
    color: #BEBEBE;
}